---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/navigation/Header.astro';
import Footer from '../components/navigation/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header />

  <main id="main-content">
    <slot />
  </main>

  <Footer />
</BaseLayout>
